# URL de odoo
ODOO_URL=
# Puerto que usa odoo
ODOO_PORT=
# Llave para conectarse a la api de Odoo
API_KEY=
# Nombre de la base de datos de odoo
DB_NAME=
# Correo registrado en odoo 
USER_NAME=
# URL de Redis para la conexión
REDIS_URL=
# Entorno actual del proyecto (development, production, etc.)
ENVIRONMENT=
# Firma secreta para usar en el ACCESS TOKEN
ACCESS_TOKEN_SECRET_KEY=
# Firma secreta para usar en el REFRESH TOKEN
REFRESH_TOKEN_SECRET_KEY=
# Algoritmo que va a usar jwt
ALGORITHM=
# Tiempo para el refresh token expire en DÍAS
REFRESH_TOKEN_EXPIRE=
# Tiempo para que el jwt expire en MINUTOS
ACCESS_TOKEN_EXPIRE=
